
::-webkit-scrollbar {
    display: none;
}

.List {
    margin:0px;
    padding:0px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    
}

.List ul {
    list-style: none;

}

.List ul li {
    display:inline-block;
}
.List ul li a {
    text-decoration: none;
    color: rgb(236, 236, 236)
}

.flexhere > li {
    flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
    box-shadow: 0 0 0 1px black;
    margin-bottom: 10px;
  }

.colorbox {
    width:100px;
    z-index: 1;
    height:100px;
    background-color: rgb(240,240,240);
}

.colorbox:hover {
    animation-name: test1;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.colorbox:not(:hover) {
    animation-name: test2;
    animation-duration: 5s;
    
}


@keyframes test1 {
    from {
        scale:1;
        z-index: 1;
        background-color: rgb(240,240,240);
    }
    to {
        pointer-events: all;
        scale:2;
        z-index: 999;
        background-color: rgb(255, 0, 0);
    }
}

@keyframes test2 {
    from {
        pointer-events: none;
        scale:2;
        z-index: 999;
        background-color: rgb(255, 0, 0);
    }
    
    
    to {
        
        scale:1;
        z-index: 1;
        background-color: rgb(240,240,240);
    }
}

.grid-container {
    display:grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}